/*
    ----------Colores--------------
    Header: #1b2127
    Letras y Footer: #026fff
*/

body{
    margin: 0;
    font-family: sans-serif;
}

h1{
    text-transform: capitalize;
    font-size: 37px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
}

h1 strong{
    color: #026fff;
    margin: 0;
}

h2{
    text-transform: uppercase;
    color: #026fff;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}

ol, li{
    list-style: none;
    margin: 0;;
}

figure{
    margin: 0;
}

.header{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0, .5);
}

.logo{
    margin: 0;
    display: flex;
    align-items: center;
}

.header ol{
    display: flex;
}

.header a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0 15px;
    height: 100px;;
    font-size: 18px;
}

.hero{
    height: 320px;
    background-color: #1b2727;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image{
    object-fit: cover;
}

.portfolio{
    background-color: #f5f5f5;
    padding: 20px;
}

.project-url a{
    text-decoration: none;
    color: #026fff;
}

.project{
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    background: white;
}

.project-imageContainer{
    width: 500px;
}

.project-course,
.project-date,
.project-url{
    margin: 10px 0;
}

.project-description{
    font-size: 20px;
}

.project-tittle{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details{
    height: 300px;
}

.experience{
    border: 1px solid gray;
    border-radius: 10px;
    width: 500px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #026fff;
    margin-bottom: 30px;
    margin: 10px;
}

.experience img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-list-title {
    margin-left: 20px;
  }

.experience-url {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 8px 20px;;
    border-radius: 5px;
    margin-top: 5px;
}

.experience-details{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: #1b2127;
    color: white;
    position: relative;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.experience-list{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 1100px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: wrap;
}
